 
 .about__container {
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
 }
 .about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    margin-bottom: 36px;
 }

 .about__info {
    grid-template-columns: repeat(3,140px);
    gap: 2rem;
    margin-bottom: 2rem;
 }

 .about__box {
    background-color: rgb(242, 233, 233);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
 }
 .about__title {
    color: rgb(72, 69, 69);
    font-size: 0.875rem;
    font-weight: 400;
 }
 .about__subtitle{
    color: rgb(72, 69, 69);
    font-size: 0.625rem;
 }
 .about__description {
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;
 }

 .about__icon{
    color: rgb(51, 51, 230);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
 }
 .section__title{
   text-align: center;
 }

 .section__subtitle{
   text-align: center;
}


 /* =======================FOR LARGE SCREEN=================== */
 @media screen and (max-width : 992px) {
   .about__info {
      gap: 6rem;
   }

   .about__container {
      grid-template-columns: 1fr;
      row-gap: 2.5rem;
   }
   .about__img {
      width: 220px;
   }
   .about__box {
      padding: 0.75rem 0.5rem;
   }
   .about__data {
      text-align: center;
   }
   .about__info {
      /* justify-content: center; */
      margin-left: 220px;
   }
   .about__description {
      padding: 0 5rem;
      margin-bottom: 2rem;
   }
   .section__title{
      text-align: center;
   }
   .section__subtitle{
      text-align: center;
   }
 }
 @media screen and (max-width : 730px) {
   .section__title{
      /* text-align: center;
     align-items: center; */
     margin-left: 178px;
   }
   /* .about section{
      text-align: center;
      justify-content: center;
   } */
   .section__subtitle {
      margin-left: 180px;
   }
   
}


@media screen and (max-width : 625px){
   .section__title{
     margin-left: 255px;
   }

   .section__subtitle {
      margin-left: 250px;
   }
}

@media  screen and (max-width : 576px){

   .about__info {
      grid-template-columns: repeat(2,1fr);
      margin-left: 0px;
      gap: 2rem;
   }
   .about__description {
      padding: 0px;
   }
   .section__title{
     margin-left: 0px;
   }
   .section__subtitle {
      margin-left: 0px;
   }
}

@media screen and (max-width : 350px){

   .section__title{
      margin-left: 170px;
      font-size: 35px;
   }
   .section__subtitle{
      margin-left: 170px;
      font-size: 17px;
   }
    .about__img{
      display: block;
      /* margin-left: 180px; */
    }
    .about__container{
      /* border: 2px solid red; */
      margin-left: 100px;
      width: 300px;

    }

   .about__info {
      grid-template-columns: repeat(1,1fr);
   }
   .about__box {
      width: 200px;
      margin: auto;
   }
   .button {
      width: 190px;
      padding: .75rem 1rem;
      margin: auto;
   }

}

