

.work__filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: 3rem;
}

.work__item{
    cursor: pointer;
    color: white;
    padding: 0.25rem 0.75rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: capitalize;
}
.work__item:hover {
    background-color: rgb(48, 72, 167);
    color: white;
}

.work__container {
    grid-template-columns: repeat(1,max-content);
    gap : 2rem;
    justify-content: center;
}
.work__card{
    border: 1px solid black;
    width: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.972);
    padding: 1.25rem;
    border-radius: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.work__img { 
    width: 80%;
    border-radius: 1rem;
    border: 1px solid rgb(1, 1, 93);
    margin-bottom: 1rem;
}
.work__btn{
    display: flex;
    /* border: 1px solid red; */
    justify-content:space-between;
}
.work__title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: rgb(18, 154, 13);
}
.work__button{
    color: rgb(105, 105, 240);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
} 
.works__sub{
    /* border: 1px solid red; */
    margin-top: 10px;
    width: 70%;
    color: rgb(53, 54, 50);
    font-size: 15px;
    margin-bottom: 10px;
}
.span__id{
    color: blue;
}
.working__title{
    font-size: 2.25rem;
    color: tomato;  
    text-align: center;
    /* margin: auto; */
}
.working__subtitle{
    display: block;
    font-size: 0.875rem;
    margin-bottom: 4rem;
    text-align: center;
}
 
/* ACTIVE WORK */
.active-work{
    background-color: rgb(48, 72, 167);
    color: white;
}
   /* ================== FOR LARGE SCREEN================= */

   @media screen and (max-width : 992px){

    .work__container {
        gap : 1.25rem;
        /* width: 20%; */
    }
    .work__card {
        padding: 1rem;
        /* border: 2px solid red; */
         width: 50%;
         margin-left: 27%;
    }
    .work__img {
        margin-bottom: 0.75rem;
    }
    .work__title{
        margin-bottom:  0.25rem;
    } 
   }
   /* ========================FOR MEDIUM SCREEN============== */

   @media screen and (max-width : 768px){

    .work__container {
        grid-template-columns: max-content;
    }
    .work__filters {
        margin-left: 150px;
    }
    .work__card {
        /* border: 2px solid red; */
         margin-left: 30%;
    }
    .works__sub{
        font-size: 15px;
    }
    .working__title{
        /* border: 1px solid red; */
        margin-left: 18%;
    }
    .working__subtitle{
        /* border: 1px solid red; */
        margin-left: 18%;
    }

   }

   @media screen and (max-width : 689px){
   
    .work__container {
        /* border: 2px solid green; */
       margin-left: 200px;
    }
    .work__filters {
        margin-left: 150px;
    }
    .work__card {
         margin-left: 25%;
    }
    .works__sub{
        font-size: 15px;
    }
    .working__title{
        /* border: 1px solid red; */
        margin-left: 24%;
    }
    .working__subtitle{
        margin-left: 25%;
    }
   }
   @media screen and (max-width : 605px){

    .work__container {
        /* border: 2px solid green; */
       margin-left: 230px;
    }
    .work__filters {
        margin-left: 220px;
    }
    .works__sub{
        font-size: 15px;
    }
   }
   @media screen and (max-width : 576px){

    .work__container {
        grid-template-columns: 1fr;
        margin-left:50px;
    }
    .work__filters {
        margin-left: 0px;
    }
    .work__img {
        width: 100%;
    }
    .work__card {
         width: 90%;
         margin-left: 0px;
    }
    .works__sub{
        width: 90%;
        color: rgb(53, 54, 50);
        font-size: 12px;
    }
    .working__title{
        /* border: 1px solid red; */
        margin-left: 0px;
        font-size: 28px;

    }
    .working__subtitle{
        /* border: 1px solid red; */
        margin-left: 0px;

    }
   }

   @media screen and (max-width : 350px){

    .section__title{
        margin-left: 90px;    
    }
    .section__subtitle{
        margin-left: 30%;
    }
    .working__title{
        margin-left: 10%;
    }
    .working__subtitle{
        margin-left: 10%;
    }

    .work__item {
        font-size: 0.875rem;
        /* border: 1px solid red; */
    }
    .work__filters {
        column-gap: 0.25rem;
        margin-left: 50px;
        /* border: 1px solid red; */
    }
    .work__container {
        margin-left: 50px;
        /* border: 1px solid red; */
        width: 85%;
    }
    .works__sub{
        width: 100%;
        color: rgb(53, 54, 50);
        font-size: 12px;
    }
    .work__card {
         width: 100%;
         margin-left: 0px;
    }

   }

